<p id="notice"><%= notice %></p>

<p>
  <strong>Subprocess group:</strong>
  <%= @workflow.subprocess_group %>
</p>

<p>
  <strong>Pmbok doc:</strong>
  <%= @workflow.pmbok_doc %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @workflow.direction %>
</p>

<p>
  <strong>Direction subprocess:</strong>
  <%= @workflow.direction_subprocess %>
</p>

<%= link_to 'Edit', edit_workflow_path(@workflow) %> |
<%= link_to 'Back', workflows_path %>
